@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size:12px;
	color: #222;
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Oswald', sans-serif;
	font-family: 'Arimo', sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/	
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */

.wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;background-color: #fff;font-family: 'Poppins', sans-serif;}

.top-header{ padding: 0;margin: 0; }

.top-div{ padding: 10px 0;margin: 0;background-color: #fff;height: 80px;display: flex;align-items: center;justify-content: center; }
.top-div p{ padding: 0px 0;margin: 0;display: inline-block;font-size:18px;line-height: 36px;font-weight: 400;color: #010000;letter-spacing: 0.3px;position: relative; }
.top-div p a{ padding: 0px 20px 0 0;margin: 0;display: inline-block;font-size:18px;line-height: 36px;font-weight: 400;color: #010000;position: relative; }
.left-top{ padding: 0px 0;margin: 0; }
.right-top{ padding: 0px 0;margin: 0; }
.img-icon{ padding: 0px 0;margin: -1px 10px 0 10px;width: 25px;font-size: 18px; }
.cart-number { padding: 1px 0;margin: 0;background-color: #afd200;border-radius: 100%;height: 25px;width: 25px;display: inline-block;text-align: center;line-height: 25px;font-weight: 400;font-size: 14px;position: absolute;top: -13px;left: 25px;}

.navigation-div{ padding: 0;margin: 0;background-color: #afd200;}
.navbar-custom{ padding: 10px 0!important;margin: 0;background-color: #afd200;height: 175px;}
.navbar-custom .img-logo{ width: 280px;}
.navbar-custom .custom-collapse{ float: right!important; }
.navbar-custom li.nav-item { padding: 10px 20px;margin: 0 0;}
.navbar-custom a.nav-link { font-size: 18px;color: #000!important;margin: 0 0px 0 0;padding: 10px 0!important;border-bottom: 1px solid transparent;transition: all 0.3ms ease-in-out; }
/*.navbar-custom a.nav-link:hover {border-bottom: 1px solid #000;}*/
.navbar-custom a.active {font-weight:600;border-bottom: 1px solid #000;}

.navbar-custom .dropdown-item { padding: 10px; }
.navbar-custom .dropdown-menu{ border-radius: 0px!important; min-width: 15em!important; }
.navbar-custom .dropdown-item:focus,.navbar-custom .dropdown-item:hover { color: #222;text-decoration: none;background-color: #afd200;}

.banner-section{  padding: 0;margin: 0;background-image: url(../images/banner-1.jpg);background-size:cover;position: relative;background-position: top center;background-repeat: no-repeat;background-size: cover; }

.banner-div{  padding: 0;margin: 0;height: 700px;display: flex;justify-content: center;align-items: center; }
.banner-div .banner-content{  padding: 0;margin: 0;}
.banner-div .banner-content h1{  padding: 20px;margin: 0;color: #fff;font-family: 'Oswald', sans-serif;letter-spacing: 0.3px;font-size: 56px;text-align: center;font-weight: 400;line-height: 75px; }
.banner-div .banner-content p { padding: 30px;   color: #fff;letter-spacing: 0.3px;font-size: 20px;text-align: center;font-weight: 400;width: 80%;line-height: 34px;margin: 0 auto; }
.banner-div .yellow-color{  color: #afd200; }

.btn-div{ margin: 0 auto;text-align: center;padding: 10px;display: flex; }
.btn.btn-primary.btn-custom-1{ background-color: #afd200;color: #fff;outline: none;border: 2px solid #afd200;padding: 9px 50px 10px 50px;margin:0 5px;border-radius: 24px;font-family: 'Oswald', sans-serif;font-size: 20px;letter-spacing: 0.3px; transition: all 0.3s ease-in-out; }
.btn.btn-primary.btn-custom-1:hover{ background-color: #fff;color: #afd200;outline: none;border: 2px solid #fff;}

.btn.btn-primary.btn-outline-1{ background-color: transparent;color: #fff;outline: none;border: 2px solid #fff;padding: 9px 50px 10px 50px;margin:0 5px;border-radius: 24px;font-family: 'Oswald', sans-serif;font-size: 20px;letter-spacing: 0.3px; transition: all 0.3s ease-in-out; }
.btn.btn-primary.btn-outline-1:hover{ background-color:#fff;color: #afd200;outline: none;border: 2px solid #fff;}

.oil-product-section{ padding:0px 0;margin: 0; }
.oil-product-div{ padding: 50px 0;margin: 0; }
.title-bg-div{ padding: 10px;margin: 0 auto;text-align: center;position: relative; background-image: url(../images/img-1.png);background-size:contain;position: relative;background-position: top center;background-repeat: no-repeat;height: 200px;display: flex;justify-content: center;align-items: center; }
.title-bg-div .img-bg{ padding: 0;margin: 0 auto; }

.title-bg-div .h2-center-block {  text-align: center;font-size: 50px;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-weight: 600;line-height: 24px;letter-spacing: 0.3px;}
.title-bg-div .h2-center-block span { display: inline-block;position: relative;}
.title-bg-div .h2-center-block span:before { right: 100%;margin-right: 15px;}
.title-bg-div .h2-center-block span:before, .h2-center-block span:after { content: "";position: absolute;height: 5px;border-bottom: 5px solid #000;top: 10px;width:110px;}
.title-bg-div .h2-center-block span:after { left: 100%;margin-left: 15px;}

.card-root{ padding: 50px 0 20px 0; }
.cardbox-div{ padding:20px 0;margin: 30px 0 0 0;background-color: #fff;box-shadow: 0 0 10px 0 rgba(202, 196, 196, 0.671);height: 225px;display: flex;justify-content:center;align-items: center;transition: all 0.3s ease-in-out; }
.cardbox-div:hover{ padding:20px 0;margin: 30px 0 0 0;background-color: #afd200;box-shadow: 0 0 10px 0 rgba(202, 196, 196, 0.671);height: 225px;display: flex;justify-content:center;align-items: center; }
.cardbox-div .icon-left { padding: 0;margin: 0 auto;width: 40%; float: left;text-align: center;}
.cardbox-div .icon-left .span-icon{ padding:15px 0;margin: 0;text-align: center;background-color: #f1f1f1;border-radius: 100%;width: 150px;height: 150px;display: inline-block; }
.cardbox-div .icon-left .span-icon .pimg{ padding: 12px; }
.cardbox-div .icon-left .span-icon .product-img2 { padding: 20px; }
.cardbox-div .content-right{ padding:0px 20px;margin: 0;float: right;width: 60%; }
.cardbox-div .content-right h3{ padding:5px 0;margin: 0;border-bottom: 2px solid #000;display: inline-block;font-size: 20px;font-weight: 600;letter-spacing: 0.3px; }
.cardbox-div .content-right p{ padding:5px 0;margin: 0;font-size: 14px;display: inline-block!important;line-height: 24px;letter-spacing: 0.3px; }

.full-spectrum-section{ padding: 0;margin: 0; }
.full-spectrum-div{ padding: 50px 0;margin: 0;background-color: #339933; }

.title-header-1{ padding: 0;margin: 0; }
.title-header-1 h3{ padding: 0;margin: 0;color: #fff;font-size: 36px;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-weight: 600;line-height: 24px;letter-spacing: 1px;text-align: center; }
.border-line{ margin:20px auto;height: 5px;width:300px;display: block;background-color: #fff;text-align: center; }
.imgblock-div{ display: inline-block; }
.imgblock-div .img-full-1{ border: 4px solid #e3e3e3; }

.full-spectrum-root{ padding: 50px 0; }
.box-spectrum1{ padding: 0;margin: 0;font-family: 'Arimo', sans-serif; }
.box-spectrum1 h4{ padding: 0;margin: 0;color: #fff;font-size: 17px;line-height: 48px;text-align: center;font-weight: 700;letter-spacing: 1px; }
.box-spectrum1 p{ padding: 0 20px;margin: 0;color: #fff;font-size: 13px;line-height: 24px;text-align: center;font-weight: 400;letter-spacing: 1px; }
.box-spectrum1 .btn-block-2{ padding: 30px 0 0 0;margin: 0; }
.box-spectrum1 .btn-block-2 .btn-white{ padding: 10px 35px;margin: 0;background-color: #fff;color: #000;border: 1px solid #fff;border-radius: 0px;font-family: 'Arimo', sans-serif;font-size:18px;font-weight: 700;line-height: 24px;letter-spacing:1px; }
.box-spectrum1 .btn-block-2 .btn-white:hover{ background-color: transparent;color: #fff;border: 1px solid #fff;}

.how-it-work-section{ padding:0px 0;margin: 0; }
.how-it-work-div{ padding: 50px 0;margin: 0;background-color: #000; }

.title-bg-black{ padding: 10px;margin: 0 auto;text-align: center;position: relative; background-image: url(../images/img-1.png);background-size:contain;position: relative;background-position: top center;background-repeat: no-repeat;height: 200px;display: flex;justify-content: center;align-items: center; }
.title-bg-black .h2-center-block {  text-align: center;font-size: 50px;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-weight: 600;line-height: 24px;letter-spacing: 0.3px;color: #fff;}
.title-bg-black .h2-center-block span { display: inline-block;position: relative;}
.title-bg-black .h2-center-block span:before { right: 100%;margin-right: 15px;}
.title-bg-black .h2-center-block span:before,.title-bg-black .h2-center-block span:after { content: "";position: absolute;height: 5px;border-bottom: 5px solid #fff;top: 10px;width:110px;}
.title-bg-black .h2-center-block span:after { left: 100%;margin-left: 15px;}

.how-it-work-root{ padding: 50px 0;margin: 0; }
.how-it-work-left{ padding: 0;margin: 0;}
.how-it-work-left h4{ padding: 0;margin: 0;color: #fff;font-size: 24px;line-height: 42px;text-align: left;font-weight: 500;letter-spacing: 0.3px;text-transform: uppercase; }
.how-it-work-left p{ padding: 0 0px;margin: 0;color: #fff;font-size: 13px;line-height: 32px;text-align: left;font-weight: 400;letter-spacing: 0.3px; }
.how-it-work-left .btn-block-2{ padding: 30px 0 0 0;margin: 0; }
.how-it-work-left .btn-block-2 .btn-white{ padding: 12px 50px;margin: 0;background-color: transparent;color: #fff;border: 1px solid #fff;border-radius: 0px;font-size:18px;font-weight: 600;line-height: 32px;letter-spacing:1px; }
.how-it-work-left .btn-block-2 .btn-white:hover{ background-color: #fff;color: #000;border: 1px solid #fff;}
.how-it-work-right{ padding: 30px 0;margin: 0;}

/* how we do */
.how-we-do-section{ padding:0px 0;margin: 0; }
.how-we-do-div{ padding: 50px 0;margin: 0;background-image: linear-gradient(to top, #667a00, #acce00); }

.how-we-do-root{ padding: 50px 0;margin: 0; }

.subscribe-letter-section{ padding: 0;margin: 0px 0 0 0; }
.subscribe-letter-div{ padding: 0;margin: 0;background-color: #000000; }
.subscribe-letter-div h2{ padding: 35px 0;margin: 0;color: #fff;font-size: 27px;line-height: 24px;text-align: center;font-weight: 600;letter-spacing: 0.3px;text-transform: uppercase; }
.bg-custom-02{ background-color: #afd200; }

.contactinfo-section{ padding: 0;,margin: 0; }
contactinfo-div{ padding: 0;,margin: 0; }

.contactus-title p{ display: inline-block; }
.contactus-title p.yellow-color{ color: #afd200; }

.contactinfo-left{ padding-top: 50px;padding-bottom: 30px; }

.contact-details{ padding: 20px 0 50px 0;margin: 0;}
.row-line{ padding: 30px 0 0 0;margin: 0;font-family: 'Arimo', sans-serif;text-align: center;}
.row-line h3{ padding: 5px 0;margin: 0;font-size: 16px;font-weight: 700;letter-spacing: 0.3px;line-height: 24px; }
.row-line p{ padding: 0px 0;margin: 0;font-size: 14px;font-weight: 400;letter-spacing: 0.3px;color: #3e3e3e;line-height: 21px;  }
.row-line p span{ display:block; }
.row-line p a{ color: #3e3e3e; }

.bg-img-contact{ padding: 0;margin: 0;background-image: url(../images/contact-1.jpg);background-size: cover;position: relative;background-position: top center;background-repeat: no-repeat;background-size: cover; }

.contactinfo-right .form-div{ padding: 50px;margin: 0;width: 100%; }
.form-div p{ padding: 20px 0 30px 0;margin: 0;color: #fff;font-size:14px;font-weight: 400;line-height: 24px; }
.contactinfo-right .form-div .form-control{ border-radius: 0px;font-size: 14px; }
.contactinfo-right .form-div .form-control:hover,.contactinfo-right .form-div .form-control:focus{ border-radius: 0px;font-size: 14px;box-shadow: none;border:1px solid #fff; }

.contactinfo-right ::-webkit-input-placeholder { color: #575757;font-weight: 500;}
.contactinfo-right ::-moz-placeholder {color: #575757;font-weight: 500;}
.contactinfo-right :-ms-input-placeholder { color: #575757;font-weight: 500;}
.contactinfo-right :-moz-placeholder { color: #575757; font-weight: 500;}


.send-btn-div{ padding: 0;margin: 0; }
.send-btn-div .btn-send{ padding: 7px 30px;margin: 0;border-radius: 0;background-color: transparent;border: 1px solid #fff;text-transform: uppercase;font-weight: 500; }
.send-btn-div .btn-send:hover{ background-color: #fff;border: 1px solid #fff;color: #000; }

.footer-section{ padding: 0;margin: 0; }
.footer-div{ padding: 60px 50px;margin: 0;background-color: #000; }
.img-block-footer{ padding: 0;margin: 0;display: block; }
.img-block-footer img{ padding: 0;margin: 0; }

.footer-content1{ padding: 10px 0;margin: 0; }
.footer-content1 p{ padding: 10px 0;margin: 0;color: #fff;line-height: 24px;font-size: 13px; }
.footer-col{ padding: 0;margin: 0; }
.footer-col h2{ padding: 0 0 0 0;margin: 0;color: #afd200;font-size: 21px;line-height: 24px;min-height: 67px;vertical-align: bottom; }
.footer-col ul{ padding: 15px 0 0 0;margin: 0;}
.footer-col li{ padding: 5px 0;margin: 0;}
.footer-col li a{ padding: 0px 0;margin: 0;color: #fff;font-size: 13px;}

.blog-footer p{ padding: 0px 0;margin: 0;color: #fff;line-height: 24px;font-size: 13px; }
.blog-footer a.color-white{ padding: 0px 0;margin: 0;color: #fff;line-height: 24px;font-size: 13px; }
.btn-yellow-footer{ display: block;color: #fff;background-color: #afd200;font-size: 16px;border-radius: 0px!important;padding: 10px 35px;margin: 10px 0 0 0; }

.social-media-div{ padding: 20px 0 0px 0; }
.social-media-div ul{ padding: 0px 15px; }
.social-media-div ul > li{ padding: 0px 0;display: inline-block;padding: 0px;background-color: #afd200;height: 30px;width: 30px;line-height: 32px;vertical-align: middle;text-align: center;color: #fff;border-radius: 100%;margin: 0 3px;transition: all 0.3s ease-in-out; }
.social-media-div ul > li > a{ color: #fff;font-size: 16px; }
.social-media-div ul > li:hover{ background-color: #fff;color: #afd200;}
.social-media-div ul > li:hover > a{color: #afd200;}

.footer-bottom-2{ padding: 0px 0;margin: 0;background-color: #afd200; }
.footer-bottom-2 p{ padding: 20px 20px;margin: 0;color: #fff;font-size:16px;text-align: center;font-weight: 500; }

.slider-div{ width: 100%; }
.owl-dots{ height: 50px;margin: 0 auto;text-align: center}
.owl-dots button.owl-dot { height: 15px!important;width: 15px!important;    background: #afd200!important;margin: 10px 10px!important;border-radius: 100%;outline: none!important;}
.owl-dots button.owl-dot.active {    background: #000!important;}

.slider_heading{ padding: 10px 20px;margin: 0;height: 100px; }
.slider_heading .round-box { background-color: #fff;height: 50px;width: 50px;display: inline-block;text-align: center;line-height: 50px;border-radius: 100%;font-size: 24px;margin-right: 10px;}
.slider_heading p{ display: inline-block;padding: 5px 0px;color: #fff;font-size: 24px;text-transform: uppercase;border-bottom: 2px solid #fff;font-weight: 600; }
.img-slider-block {    height: 600px;overflow: hidden;}

/* inner page started */

/************ blog ***************/

.general-container-div{ padding: 50px 0 0 0; }

.inner-banner-div{    margin: 0;padding: 0;position: relative;font-family: 'Oswald', sans-serif!important;}
.inner-banner-div .fluid_container-all { padding: 0;margin: 0;background-image: url(../images/banner-1.jpg);background-size: cover;position: relative;background-position: top center;background-repeat: no-repeat;background-size: cover;height: 400px;}
.inner-banner-div .top-head { margin: 0px 0;padding: 70px 0 20px 0;text-align: center;display: flex;justify-content: center;height: 320px;align-items: center;}
.inner-banner-div .top-head h1 { margin: 0;padding: 20px 0 0 0;font-size: 50px;font-weight: 900;color: #fff;letter-spacing: 5px;text-transform: uppercase;}
.inner-banner-div .breadcrumb-div { padding: 40px 0 10px 0;margin: 0;display: inline-block;text-transform: capitalize;}
.inner-banner-div .breadcrumb-div a { padding: 0;margin: 0;font-size: 16px;}
.inner-banner-div .breadcrumb-div p { display: inline-block;margin: 0;padding: 0% 0% 0 0;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;}
.inner-banner-div .gt-span {padding: 0 10px;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;}

.left-sidebar{ padding: 0;margin: 0; }
.left-sidebar .inner-box-1{ padding: 10px 0px;margin: 0; }
.left-sidebar .inner-box-1 .title-h4 { padding: 5px 0px;margin: 0 0 10px 0;font-size: 18px;font-weight: 600;letter-spacing: 0.3px;text-transform: uppercase;display: inline-block;color: #000;}


.general-box-01{ padding: 10px 10px;margin: 0;background-color: #f2f2f2;border: 1px solid #ddd;border-bottom: 5px solid #ddd; }
.sidebar-search { position: relative;}
.sidebar-search .form-control { background: #fff;padding: 4px 10px;height: 50px;line-height: 1.55;border: 1px solid #ddd;color: #ddd;width: 100%;letter-spacing: 1px;border-radius: 0px;}
.sidebar-search .btn-search { padding: 0;background: none;position: absolute;box-shadow: none;outline: none;font-size: 18px;border: 0;line-height: 1;color: #666;top: 15px;right: 15px;}
.sidebar-search .form-control:focus{ box-shadow: none!important;border: 1px solid #ddd; }

.post-listing{padding: 10px 10px 0px 10px;margin: 0;}
.post-listing .post-list{padding:0 0 10px 0;margin: 0;}
.post-listing h5 { font-size: 12px!important;font-weight: 600;padding: 10px 0;}
.post-listing h5 a{ font-size: 12px!important;font-weight: 600;padding: 10px 0;color: #222;}

.blog-div{ padding: 0;margin: 0 0 20px 0;position: relative;}
.blog-div .border-tlr { border-top: 1px solid rgba(237, 237, 237, 0.4);border-left: 1px solid rgba(237, 237, 237, 0.4);border-right: 1px solid rgba(237, 237, 237, 0.4);}
.blog-div .middle-center { padding: 0 0px;}
.blog-div .img-blog img.img-blog-01{ border-top-left-radius: 5px;border-top-right-radius: 5px;width: 100%;height: 100%;}

.blog-div .blog-content {
	padding: 30px;
	background: rgba(237, 237, 237, 0.4);
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.blog-div .blog-content:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    display: block;
    z-index: -1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.blog-div .blog-content .media { overflow: visible; }
.blog-div .media:first-child { margin-top: 0;}
.blog-div .blog-content .media-left {
    padding-right: 0;
    display: flex;
    margin: 0;
    position: absolute;
}
.blog-div .blog-content .media-left .post-date {letter-spacing: 0.25px;color: #fff;border-radius: 5px;background: #afd200;text-align: center;width: 68px;height: 70px;display: block;padding-top: 15px;margin-top: -50px;letter-spacing: 2px;font-size: 18px;}
.blog-div .blog-content .media-left .post-date span { display: block;text-transform: capitalize;letter-spacing: 2px;}
.blog-div .blog-content .media-body {
    display: block;
    width: auto;
    padding-top: 30px;
}
.blog-div .blog-content .media-body .post-meta li a {
    color: #282828;
    padding: 5px;
    margin: 0 2px;
    display: inline-block;
}
.blog-div .blog-content .media-body h2 {
    letter-spacing: 0.25px;
	padding-top: 8px;
	margin: 0;
    padding: 10px 0;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.blog-div .blog-content .media-body h2 a {
    color: #282828;
	
	-webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    -webkit-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
	transition-duration: 0.9s;
	
}


.blog-div .blog-content .media-body .post-meta {
    padding-top: 12px;
}
.blog-div .blog-content .media-body .post-meta li {
    display: inline-block;
    font-weight: 400;
}
.blog-div .blog-content .media-body .post-meta li i {
    color: #bebebe;
    margin-right: 12px;
}
.blog-div .blog-content p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.50px;
    margin: 0;
	line-height: 1.4;
    padding: 0px 0 15px 0;
    color: #000;
}
.blog-div .blog-content h3 {
	font-size: 16px;
	font-weight: 600;
    margin: 0;
	line-height: 1.4;
    padding: 0px 0 15px 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.btn-more-red-link {
    background-color: #000;
    margin: 0px 0px 0 0px;
    color: #fff;
    padding: 12px 30px;
	height: 40px;
	font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    border: 1px solid #000;
}
.btn-more-red-link:hover { background-color: #000; color: #fff; border: 1px solid #000;}
.blog-short-desc {padding: 30px 0 10px 0;margin: 0;}

.blog-div .tags-row {
    padding: 20px 0;
}

.blog-div .border-top-bottom {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.blog-div .m-tb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.blog-div .font-weight-600 {
    font-weight: 600;
}
.blog-div .m-t-15 {
    margin-top: 15px;
}
.blog-div .text-uppercase {
    text-transform: uppercase;
}

.tagcloud a {
    font-style: italic;     font-size: 14px;     color: #3e3e3e;     margin-right: 3px;
}
.tags-div .font-weight-600 {
    font-weight: 600;
}

.tags-div .share-post {
    float: right;     background: #f4f4f4;     border-radius: 50px;     padding: 6px 23px;
}

.tags-div .text-black {
    color: #000;
}
.tags-div .font-weight-600 {
    font-weight: 600;
}
.tags-div .text-uppercase {
    text-transform: uppercase;
}
.tags-div .text-md {
    font-size: 12px;
}

.tags-div ul.list {
    list-style: none;
    padding: 5px 0;
}
.tags-div .text-lg {
    font-size: 18px;
}
.tags-div .list {
    margin: 0;
    padding: 0;
}
.tags-div .share-post {
    float: right;     background: #f4f4f4;     border-radius: 50px;     padding: 6px 23px;
}
.tags-div .v-align-middle {
    vertical-align: middle;
    display: inline-block;
}

.tags-div .share-post ul li {
    float: left;
    margin: 0 0 0 12px;
}
.tags-div .share-post ul li a {
    display: block;
    color: #4c4c4c;
}
.comment {
    margin: 0;
    padding: 0;
}
.comment .comment-div {
    margin: 0 0 20px 0;
    padding: 10px 10px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.line-comment {
    padding: 15px 0 0 0;
}
.img-bordered { background: #fff;padding: 0px;border-radius: 4px;border: 1px solid #e4e4e4;width: 150px;}
.comment .comment-div h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: capitalize;
}
.comment .comment-div .pa-date {
    margin: 0;
    padding: 10px 0 0 0!important;
}
.comment .comment-div .pa-date a { color: #000;padding: 0px 0 5px 0!important;margin: 0;display: inline-block; }

.post-comment {
    margin: 0;
    padding: 10px 0 0 0;
    position: relative;
    display: block;
}
.post-comment label {
    padding: 10px 0;
    margin: 0;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}
.post-comment .form-control {
    border-color: #e9e9e9;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    height: auto;
    line-height: 26px;
	margin-bottom: 20px;
	border-radius: 0;
	resize: none;
}

/***** end of blogs  ************/


/* end of innerpages  */

@media (min-width: 1200px){ 

	.container { max-width: 1200px;}  

} 

@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}	
	.canvas { margin:0!important; padding:0!important;}
	
	/* custom css */
	.top-div {height: 100%;}
	.top-div p{ font-size: 12px; }
	.top-div p a{ font-size: 12px; }
	.right-top.float-right {	float: left!important;}
	.img-icon { margin: -1px 10px 0 10px;width: 16px;	}	
	.cart-number { height: 20px;width: 20px;line-height: 20px;font-size: 11px;	top: -6px;left: 18px;}
	/*.navbar-toggler {	border: 1px solid transparent;border-radius: .25rem;background: transparent;position: absolute;right: 0;}*/
	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}	
	.navbar-custom {height: 100%;}
	.navbar-custom .img-logo {	width: 220px;}
	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;}	
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}

	.banner-div .banner-content h1 {padding: 0 0px;margin: 0;font-size: 22px;line-height: 36px;}
	.banner-div .banner-content p {padding: 30px 40px;font-size: 14px;width: 100%;line-height: 30px;}	
	.btn.btn-primary.btn-custom-1 { border: 2px solid #afd200;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.btn.btn-primary.btn-outline-1{ border: 2px solid #fff;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.banner-div {height: 500px;}
	
	.title-bg-div .h2-center-block {font-size: 24px;}
	.title-bg-div .h2-center-block span:before, .h2-center-block span:after {	width: 50px;}
	.cardbox-div .icon-left .span-icon {width: 120px;height: 120px;}
	.cardbox-div .icon-left .span-icon .pimg { padding: 10px;height: 100%;}

	.title-header-1 h3 {font-size: 24px;}
	.border-line {	margin: 20px auto;height: 3px;width: 200px;	}
	.box-spectrum1 h4 { padding:10px 0;font-size: 14px;line-height: 30px;	}	
	.box-spectrum1 {padding: 20px 0;margin: 0;}
	.box-spectrum1 p {font-size: 12px;line-height: 24px;	word-break: break-word;padding: 0;}
	
	.title-bg-black .h2-center-block { font-size: 24px;	}
	.title-bg-black .h2-center-block span:before, .title-bg-black .h2-center-block span:after {	width: 50px;}

	.how-it-work-left h4 {font-size: 16px;line-height: 36px;}
	.how-it-work-left p { padding: 10px 0px;font-size: 12px;line-height: 28px;}
	.how-it-work-left .btn-block-2 {	padding: 0px 0 0 0;}
	.how-it-work-left .btn-block-2 .btn-white {padding: 7px 30px;font-size: 16px;}
	.how-it-work-right {padding: 50px 10px;}

	.subscribe-letter-div h2 {padding: 30px 0;font-size: 20px;font-weight: 400;}
	
	.footer-col h2 { padding: 10px 0 0 0;margin: 30px 0 0 0;font-size: 18px;min-height: 100%;	}
	.footer-div { padding: 20px 10px; }

	.img-slider-block {    height: 100%;overflow: hidden;}

	/* inner css */
	.tags-div .share-post { width: 100%;	margin: 15px 0 0 0;text-align: center;}
	.img-bordered{ margin: 0 0 20px 0; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	/* custom css */
	.top-div {height: 100%;padding: 20px 0;}
	.top-div p{ font-size: 12px; }
	.top-div p a{ font-size: 12px; }
	.img-icon { margin: -1px 10px 0 10px;width: 16px;	}	
	.cart-number { height: 20px;width: 20px;line-height: 20px;font-size: 11px;	top: -6px;left: 18px;}

	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 30px 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}	
	.navbar-custom {height: 100%; padding: 0px 0!important;}
	.navbar-custom .img-logo {	width: 220px;}
	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;}	
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}

	.banner-div .banner-content h1 {padding: 0 0px;margin: 0;font-size: 36px;line-height: 56px;}
	.banner-div .banner-content p {padding: 30px 40px;font-size: 14px;width: 100%;line-height: 30px;}	
	.btn.btn-primary.btn-custom-1 { border: 2px solid #afd200;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.btn.btn-primary.btn-outline-1{ border: 2px solid #fff;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.banner-div {height: 500px;}

	.title-bg-div .h2-center-block {font-size: 36px;}
	.title-bg-div .h2-center-block span:before, .h2-center-block span:after {	width: 50px;}
	.cardbox-div .icon-left .span-icon {width: 120px;height: 120px;}
	.cardbox-div .icon-left .span-icon .pimg { padding: 10px;height: 100%;}
	.cardbox-div .icon-left {	text-align: right;}

	.full-spectrum-root .float-left{ text-align: center; }
	.box-spectrum1 h4 { padding:10px 0;font-size: 16px;line-height: 30px;	}	
	.box-spectrum1 {padding: 20px 0;margin: 0;}
	.box-spectrum1 p {font-size: 14px;line-height: 24px;	word-break: break-word;padding: 0;}
	.full-spectrum-div {padding: 70px 0 0 0;}

	.title-bg-black .h2-center-block {font-size: 36px;}
	.title-bg-black .h2-center-block span:before, .title-bg-black span:after {	width: 50px;}

	.how-it-work-left h4 {font-size: 16px;line-height: 36px;}
	.how-it-work-left p { padding: 10px 0px;font-size: 12px;line-height: 28px;}
	.how-it-work-left .btn-block-2 {	padding: 0px 0 0 0;}
	.how-it-work-left .btn-block-2 .btn-white {padding: 7px 30px;font-size: 16px;}
	.how-it-work-right {padding: 50px 10px;}

	.how-it-work-root .float-left{ -ms-flex-order: 2;order: 2; }
	.how-it-work-root .float-right{ -ms-flex-order: 1;order: 1;text-align: center;margin: 0 auto; }
	.subscribe-letter-div h2 {padding: 30px 0;font-size: 21px;line-height: 24px;}

	.footer-col h2 { padding: 10px 0 0 0;margin: 30px 0 0 0;font-size: 16px;}
	.footer-div { padding: 50px 0px; }
	.footer-col li a {	font-size: 12px;}
	.footer-content1 p {	font-size: 12px;}
	.btn-yellow-footer { font-size: 12px!important;padding: 10px 35px;}

	.slider_heading p {font-size: 16px;}
	.slider_heading { height: 80px;	}
	.slider_heading .round-box { height: 40px;width: 40px;line-height: 40px;font-size: 24px;}
	.img-slider-block {    height: 245px;overflow: hidden;}
	
	/* inner css */

	span.text-uppercase.text-md.text-black.font-weight-600 {
		padding-right: 2px;
	}
	.tags-div .share-post ul li {
		float: left;
		margin: 0 5px 0 0px;
	}
	.tags-div .share-post {
		width: 100%;
		padding: 5px 0;
		margin: 0 auto;
		text-align: center;
	}
	

}	

@media only screen and (min-width: 1024px) and (max-width: 1366px) 
{
	


}	

